body {
	background-color: pink;
}

p {
	font-family: Avenir;
	padding-left: 2vw;
	margin: 1vw;
}
h2 {
	text-align: center;
	font-family: monospace;
	padding: 2vw;

}
h4 {
	font-family: monospace;
	padding: 2vw;
	background-color: green;
}

div {
	display: flex;
}
img {
	width: 50vw;
	margin-left: auto;
	margin-right: auto;
}

#inProcess {
	width: 25vw;
	margin-right: auto;
	margin-left: auto;
}